body {
  background-color: lightsteelblue;
}

h1 {
  height: 100px;
  width: auto;
  text-align:  center;
  color: white;
  background: url('../views/img/bookshelf.jpeg');
}

.wrap {
  margin: 10px;
  text-align: center;
}

.red {
  background-color: red;
}

.yellow {
  background-color: yellow;
}
