body {
  background-color: steelblue;
}

header {
  height: 125px;
  width: auto;
  background-image: url('../views/img/books.jpg');
}

h1 {
  color:steelblue;
  margin-left: 30%;
}

.wrap {
  margin: 10px;
  text-align: center;
}

.red {
  background-color: red;
}

.yellow {
  background-color: yellow;
}

footer {
  height: 75px;
  width: auto;
  text-align: center;
  color: white;
}

form {
  margin-top: 5%;
    margin-left: 25%;
    margin-right:25%;
    width: 100%;
}

img {
  margin-left: 200px;
  height: 100px;
  width: auto;
}
