<table class="table table-striped table-bordered">
    <thead>
            <tr>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
            </tr>
    </thead>
    <tbody>
        <tr id="bookList" ng-repeat="book in books | orderBy:'user'">
              <td id="book" name="title">{{book.title}}</td>
              <td id="book" name="author">{{book.author}}</td>
              <td id="book" name="id">{{book.id}}</td>
              <td id="book" name="dueDate">{{book.dueDate}}</td>
              <td id="book" name="user">{{book.user}}</td>
        </tr>
      </tbody>
    </table>
